@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: blue;
}

.glass-tilt {
    background: #161623;
    overflow: hidden;
}

.glass-tilt .row .card {
    width: 300px;
    height: 400px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.glass-tilt .row .card .card-body {
    color: #fff;
    font-weight: 600;
    opacity: 0;
    padding: 20px;
    transform: translateY(100%);
    transition: 0.5s linear;
}

.glass-tilt .row .card:hover .card-body {
    opacity: 1;
    transform: translateY(0);
}

.glass-tilt .row .card .card-body h2 {
    top: 10px;
    right: 30px;
    font-size: 8em;
    font-weight: 700;
    opacity: 0.2
}


/* Three dimensional stack */

.three-dim-stack {
    height: 500px;
}

.three-dim-stack .row .card {
    top: calc(var(--i) * 40px);
    margin: 70px;
    width: 250px;
    height: 340px;
    transform: rotate(40deg) skew(-20deg, -10deg) translateX(0);
    z-index: calc(var(--i) * -1);
    transition: 0.5s;
}

.three-dim-stack .row:hover .card {
    top: 0;
    transform: rotate(0) skew(0, 0) translateX(calc(var(--i) * 320px));
}

@media only screen and (max-width: 768px) {
    .three-dim-stack .row .card {
        top: calc(var(--i) * 40px + 40px);
        transform: rotate(40deg) skew(-20deg, -10deg) translateX(0);
        width: 184px;
        height: 250px;
    }

    .three-dim-stack .row:hover .card {
        top: 0;
        transform: rotate(0) skew(0, 0) translateY(calc(var(--i) * 400px + 370px));
        width: 250px;
        height: 340px;
    }
}


/* 3d Flip */

.flip-around {
    background: linear-gradient(to right, #fdc830, #f37335);
}

.flip-around .row .card {
    background: inherit;
    width: 250px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
}

.flip-around .row .card .front,
.flip-around .row .card .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-around .row .card .front {
    transform: perspective(450px) rotateY(0deg);
}

.flip-around .row .card .front img {
    height: 100%;
}

.flip-around .row .card .back {
    background: #fff;
    transform: perspective(450px) rotateY(180deg);
}

.flip-around .row .card:hover .front {
    transform: perspective(450px) rotateY(-180deg);
}

.flip-around .row .card:hover .back {
    transform: perspective(450px) rotateY(0deg);
}

.flip-around .row .card .back .sm-links a {
    color: #2c3e50;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s linear;
}

.flip-around .row .card .back .sm-links a:hover {
    background: #2c3e50;
    color: #fff;
    width: 40px;
    height: 40px;
}


/* Clipped image cards */

.clipped-image .row .card {
    width: 250px;
    height: 370px;
}

.clipped-image .row .card .img-container {
    height: 40%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.clipped-image .row .card .img-container:hover {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.3s;
}

.clipped-image .row .card .img-container:hover ~ .card-body {
    display: none;
}


/* Half glass cover cards */

.half-glass-cover .row .card {
    width: 250px;
    height: 370px;
    overflow: hidden;
}

/* .half-glass-cover .row .card .face {
    height: 100%;
} */

.half-glass-cover .row .card .face .num-container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.half-glass-cover .card .face .num-container .color-bg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.7s;
}

.half-glass-cover .card1 .face .num-container .color-bg {
    background: coral;
}

.half-glass-cover .card2 .face .num-container .color-bg {
    background: darkorange;
}

.half-glass-cover .card3 .face .num-container .color-bg {
    background: rgb(255, 104, 104);
}

.half-glass-cover .face .num-container:hover .color-bg {
    width: 620px;
    height: 620px;
    transition: 0.7s;
}

.half-glass-cover .face .num-container h4 {
    font-size: 2em;
    z-index: 5;
}

.half-glass-cover .face .card-body {
    z-index: 2;
}

.half-glass-cover .face .half-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    pointer-events: none;
}


/* Parallax cards */

.parallax {
    --transition-time: 2.5s;
    --trans-delay-time: 0.5ss;
}

.parallax .row .card {
    width: 250px;
    height: 370px;
    overflow: hidden;
}

.parallax .row .card .face {
    height: 100%;
}

.parallax .row .card .face .num-container {
    top: 0;
    transition: var(--transition-time);
}

.parallax .row .card .face .card-body {
    opacity: 0;
    transform: translateY(100%);
    transition: var(--transition-time);
}

.parallax .row .card:hover .face .num-container {
    transform: translateY(-100%);
    transition: var(--transition-time);
}

.parallax .row .card:hover .face .card-body {
    opacity: 1;
    transform: translateY(0);
    transition: var(--transition-time);
    transition-delay: var(--trans-delay-time);
}

.parallax .row .card .face .layer {
    transition: var(--transition-time);
}

.parallax .row .card .face .layer1 {
    background: green;
    transform: translateY(100%);
    z-index: 2;
}

.parallax .row .card:hover .face .layer1 {
    transform: translateY(-100%);
    transition: var(--transition-time);
}

.parallax .row .card .face .layer2 {
    background: yellow;
    transform: translateY(200%);
    z-index: 3;
}

.parallax .row .card:hover .face .layer2 {
    transform: translateY(-200%);
    transition: var(--transition-time);
}